name: gcc

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: config
      run: |
        ln -sf Makefile.cpu.default Makefile.cpu
        export CFLAGS="-I/usr/include/openblas"
        sudo apt install gfortran libopenblas-dev
    - name: make
      run: make
    - name: make tests
      run: make test_eigb_g test_svd_g
    - name: make distcheck
      run: |
        ./test_eigb_g
        ./test_svd_g
